<template>
  <div class="card-container">
    <div id="card-title"> Bank and Cards</div>
    <div class="flex-container">
      <div class="bank-account-container">
        <Icon icon="mdi:bank" id="bank-icon"/>
        <div>
          <div>USAA Bank</div>
          <div>**** **** **** 1234</div>
        </div>
      </div>
      <div class="bank-account-container">
        <Icon icon="mdi:bank" id="bank-icon"/>
        <div>
          <div>USAA Bank</div>
          <div>**** **** **** 1234</div>
        </div>
      </div>
      <div class="bank-account-container">
        <Icon icon="mdi:bank" id="bank-icon"/>
        <div>
          <div>USAA Bank</div>
          <div>**** **** **** 1234</div>
        </div>
      </div>
    </div>

    <div class="bank-options">
      <div class="bank-options-item">Link Bank Card</div>
      <div class="bank-options-item">Manage Cards and Banks</div>
    </div>
  </div>
</template>

<script>
import { Icon } from '@iconify/vue';
export default {
  name: "CurrentBalanceCard",
  components: {
    Icon,
  },
  data() {

  },

}
</script>

<style lang="scss" scoped>

.flex-container{
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex: 1;
  min-width: 425px;
  flex-direction: column;
  height: fit-content;
  background-color: rgba(246, 249, 255, 0.99);
  box-shadow: $dashboard-bx-shadows;
}

#card-title {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: rgba(4, 80, 224, .80);
  border-bottom: $dashboard-border;
}

.bank-account-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
  width: 80%;
  color: black;
  font-size: 1rem;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;

}

.bank-options {
  color: rgba(4, 80, 224, .80);
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: .7rem;
  padding: 1rem;
}

.bank-options-item {
  border: solid 1.5px rgba(4, 80, 224, .80);
  border-radius: 25px;
  padding: .5rem;
  margin: 0 auto;
  height: fit-content;
  text-align: center;
  width: 40%;
  cursor: pointer;
}

#bank-icon {
  font-size: 2.5rem;
  margin-right: 2rem;
  color: #626262;

}
</style>