<template>
  <div class="card-container">
    <div id="card-title"> Current Balance <span>Balance History</span></div>
    <div id="card-balance">
      <div>$120.00<span>Available</span></div>
    </div>
    <div class="current-balance-options">
      <div class="current-balance-options-item">Transfer Money</div>
      <div class="current-balance-options-item">Add Money</div>
      <div class="current-balance-options-item">Manage Currencies</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CurrentBalanceCard",
  components: {},
  data() {

  },

}
</script>

<style lang="scss" scoped>


.card-container {
  display: flex;
  flex: 1;
  min-width: 425px;
  flex-direction: column;
  height: 300px;
  background-color: rgba(246, 249, 255, 0.99);
  box-shadow: $dashboard-bx-shadows;
}

#card-title {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: rgba(4, 80, 224, .80);
  border-bottom: $dashboard-border;


  & span {
    color: rgba(0, 0, 0, 0.65);
    text-decoration: underline;
    font-size: .8rem;
    cursor: pointer;
  }
}

#card-balance {
  display: flex;
  align-items: center;
  font-weight: 300;
  color: black;
  justify-content: flex-end;
  font-size: 4rem;
  margin: 0 auto;
  height: 100%;

  & span {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    letter-spacing: normal;
    font-size: 1rem;
  }
}

.current-balance-options {
  color: rgba(4, 80, 224, .80);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
  height: 150px;
  font-size: .7rem;
}

.current-balance-options-item {
  border: solid 1.5px rgba(4, 80, 224, .80);
  border-radius: 25px;
  padding: .5rem;
  margin: 0 auto;
  height: fit-content;
  text-align: center;
  width: 30%;
  cursor: pointer;
}
</style>