<template>

    <div class="card-container">
      <div id="card-title"> Recent Activity <span>Filters<Icon icon="mdi:filter" /> </span></div>
      <table>
        <tr>
          <th>Payment Subjuct</th>
          <th>Type</th>
          <th>Date</th>
          <th>Payment Status</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>Amazon</td>
          <td>Payment To</td>
          <td>Mar 12, 2019</td>
          <td ><span id="paystatus-span">completed</span></td>
          <td>-$200.00</td>
        </tr>
      </table>
    </div>


</template>

<script>
import { Icon } from '@iconify/vue';
export default {
  name: "InvoiceHistoryCard",
  components: {
    Icon,
  },
  data() {

  },

}
</script>

<style lang="scss" scoped>


.card-container {
  display: flex;
  flex: 1.5;
  min-width: 425px;
  flex-direction: column;
  height: inherit;
  background-color: rgba(246, 249, 255, 0.99);
  box-shadow: $dashboard-bx-shadows;
}

#card-title {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: rgba(4, 80, 224, .80);
  border-bottom: $dashboard-border;


  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    font-size: .8rem;
    cursor: pointer;
  }
}

table {
  font-size: .8rem;
}

th {
  text-align: left;
}

td {
  color: #626262;

}

#paystatus-span {
    letter-spacing: 3px;
    text-align: center;
    padding: 1px 3px;
    width: fit-content;
    border-radius: 25px;
    border: 1px solid green;
}

</style>