<template>
  <button >{{buttonText}}</button>
</template>
<style lang="scss">
  button{
    background-color: $primary-bg;
    border: none;
    box-shadow: $primary-bx-shadow;
    height: 2rem;
    width: 100px;
    cursor: pointer;
    color: $primary-text;

    &:hover {
      background-color: $primary-bg-hover;
    }
  }
</style>
<script>
  export default {
    name: 'LoginButton',
    props:{
      buttonText: {
        type: String,
        default: () => "GENERIC BUTTON"
      }
    }
  }
</script>