<script>
import axios from "axios";
import store from "../store";

export default {
  name: "NavBar",
  data() {
    return {
    }
  },
  computed: {
    getStore() {
      return this.$store.state.loggedIn
    }
  },
  methods: {
    logout() {
      this.$store.commit('logout')
      sessionStorage.clear()
      document.cookie = 'invoice-tracker-access-token' +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
  }



}
</script>


<template>
    <div class="nav-container">
      <div class="nav-inner-container">
        <div id="text-Logo">InvoicePal</div>
        <router-link v-if="getStore" tag="li" to="/">Dashboard</router-link>
        <router-link v-if="getStore" tag="li" id="new-invoice" to="/newInvoice">New Invoice</router-link>
        <router-link v-if="getStore" tag="li" id="account" to="/account">Account</router-link>

        <div class="nav-options">
          <router-link v-if="getStore" @click="logout" tag="li" to="/login" >Logout</router-link>
        </div>
      </div>
    </div>
</template>

<style lang="scss">
.nav-container {
  margin: 0 auto;
  user-select: none;
  color: white;
  background-color: $primary-bg;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
}

.nav-inner-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100%;
  position: relative;
  padding: 0 20px;
}

#text-Logo {
  font-style: italic;
  font-size: 24px;
  margin-right: 20px;
  padding-top: 3px;
  font-family: "Al Bayan";
}

.nav-inner-container a, .nav-inner-container a:visited {
  padding: 0;
  color: inherit;
  margin-left: 16px;
  text-decoration: none;
}

#new-invoice, new-invoice:visited {
  padding: 5px;
  background-color: $primary-bg;
  border-radius: 5px;

}

.nav-options {
  position: absolute;
  padding: 0 20px;
  right: 0;
  color: $primary-text;
}

</style>



