//NavBar Colors
$primary-bg: #0450e0;
$primary-bg-hover: #094acb;
$primary-text: whitesmoke;
$primary-bx-shadow: #000017 0 0 1px;

//Primary Border Properties
$primary-border: solid .5px #d0d0d0;
$primary-border-radius: 5px;

//DashBoard Cards
$dashboard-bx-shadows: #dcdcdc 0px 3px 12px 1px;
$dashboard-border: solid 1px rgba(4, 80, 224, 0.39);


