<script>
import axios from 'axios'
import NavBar from "./components/NavBar.vue";
import store from "./store";


export default {
  name: "App",
  components: {
    NavBar
  },
  data() {
    return {

    }
  },
  computed: {
  },

  methods: {

  },
  beforeMount() {
    axios({
      method: 'post',
      url: 'http://localhost:5005/api/user/token',
      headers: {
        "Content-Type": "application/json"
      },
      withCredentials: true,
      data: {}
    }).then((res) => {
      if (res.data.msg === "Login Successful") {
        let {email, dateJoined, firstName, lastName} = res.data.data
        this.$store.commit('login')
        this.$store.commit('initiateUser', {email, dateJoined, firstName, lastName})
        this.$router.push("/")
      } else {
        this.$store.commit('logout')
        this.$router.push("/login")
      }
    })
  }

}

</script>

<template>
  <div class="main-container">
    <NavBar v-if="!$route.meta.hideNavbar"/>
    <RouterView></RouterView>
  </div>
</template>

<style>

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

  .main-container {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 50px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    background-color: #eaf1fd;
  }
</style>
