<template>
  <div>
    <router-link @click="deleteUser" to="/login">Delete User</router-link>
  </div>
</template>

<script>
import axios from "axios";
import store from "../store";
export default {
  components: {

  },
  data() {

  },
  methods: {
    deleteUser() {
      axios({
        method: 'delete',
        url: 'http://localhost:5005/api/user/deleteuser',
        headers: {
          "Content-Type": "application/json"
        },
        withCredentials: true,
        data: {
          email: this.$store.state.user.email,
        }
      }).then((res) => {
        console.log(res)
        if (res.data.msg === "user deleted") {
          this.$store.commit('logout')
          document.cookie = 'invoice-tracker-access-token' + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
      })
    },
  }
}
</script>

<style lang="sass" scoped>

</style>