<template>
  <div class="main-container">
    <h1>Good {{hours <= 12 ? "Morning, " : "Afternoon, "}}{{user.firstName}}</h1>
    <div class="dashboard-container">
      <div class="small-container">
        <CurrentBalanceCard />
        <BankCardsCard />
      </div>

      <InvoiceHistory />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CurrentBalanceCard from "../components/CurrentBalanceCard.vue";
import InvoiceHistory from "../components/InvoiceHistoryCard.vue";
import BankCardsCard from "../components/BankCardsCard.vue";



export default {
  components: {
    CurrentBalanceCard,
    InvoiceHistory,
    BankCardsCard

  },
  data() {
    return {
      loading: true,
      hours: null,
      user: null
    }
  },
  beforeMount() {
    let time = new Date();
    this.hours = time.getHours()
    this.user = this.$store.state.user;

  },
  methods() {

  }
}

</script>

<style lang="scss" scoped>
  .main-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .dashboard-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .small-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    flex: 1;
  }

  @media only screen and (max-width: 1072px) {
    .main-container {
      width: 80%;
    }
  }
</style>