<template>
  <div>
    <h2 id="companyName">InvoicePal</h2>
  </div>
  <div class="main-container">
    <div class="login-container">
      <div class="login-selector-container">
        <div class="staticSelector" :class="{isActive: this.activeTab === 0 }"  @click="toggleLogReg(0)">Login</div>
        <div class="staticSelector" :class="{isActive: this.activeTab === 1}" @click="toggleLogReg(1)">Register</div>
      </div>
      <div v-show="activeTab === 0">
        <div class="from-div-container">
          <h3>Login to InvoicePal</h3>
          <form class="form-container">
            <label>Email:</label>
            <input v-model="email" type="email" placeholder="example@email.com"/>
            <label>Password:</label>
            <input @keydown.enter="loginUser" v-model="password" autocomplete="off" type="password" placeholder="*********"/>
            <span v-show="loginError" id="loginErrorSpan">Email or password incorrect. Please try again.</span>
            <LoginButton buttonText="Login" @click="loginUser" type="button" />
          </form>
        </div>
      </div>
      <div v-show="activeTab === 1">
        <div class="from-div-container">
          <h3>Register for InvoicePal</h3>
          <form class="form-container">
            <label>First Name</label>
            <input v-model="firstName" autocomplete="on" type="text" placeholder="Jane"/>
            <label>Last Name</label>
            <input v-model="lastName" autocomplete="on" type="text" placeholder="Doe"/>
            <label>Email</label>
            <input v-model="email" autocomplete="on" type="email" placeholder="example@email.com"/>
            <label>Password</label>
            <input @keydown.enter="registerUser" v-model="password" autocomplete="on" type="password" placeholder="*********"/>
            <span v-show="registerError" id="loginErrorSpan">Email address already in use.</span>
            <span v-show="emailRequired" id="loginErrorSpan">Email address required.</span>
            <span v-show="passwordRequired" id="loginErrorSpan">Password Required.</span>
            <span v-show="nameRequired" id="loginErrorSpan">First and Last Name required.</span>
            <LoginButton buttonText="Register" @click="registerUser" type="button" />
          </form>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import axios from "axios";
import LoginButton from "../components/LoginButton.vue"



export default {
  updated() {},
  watch:{
  },
  components: {
    LoginButton
  }
  ,
  methods: {
    loginUser() {
      axios({
        method: 'post',
        url: 'http://localhost:5005/api/user/loginUser',
        headers: {
          "Content-Type": "application/json"
        },
        withCredentials: true,
        data: {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          password: this.password,
        }
      }).then((res) => {

        if (res.data.msg === "Login Successful") {
          let {email, dateJoined, firstName, lastName} = res.data.data
          this.$store.commit('login')
          this.$store.commit('initiateUser', {email, dateJoined, firstName, lastName})
          this.$router.push("/")
        } else {
          this.loginError = true;
          this.clearText()
        }
      })
    },
    clearText() {
      this.firstName = "";
      this.lastName = "";
      this.email = "";
      this.password = ""
    },
    toggleLogReg(tabIndex) {
      this.activeTab = tabIndex
    },
    registerUser() {
      this.registerError = false;
        this.passwordRequired = this.password === "";
        this.nameRequired = this.lastName === "" || this.firstName === "";
        this.emailRequired = this.email === ""
        if(!this.nameRequired && !this.passwordRequired && !this.emailRequired) {
          axios({
            method: 'post',
            url: 'http://localhost:5005/api/user/registerUser',
            headers: {
              "Content-Type": "application/json"
            },
            withCredentials: true,
            data: {
              firstName: this.firstName,
              lastName: this.lastName,
              email: this.email,
              password: this.password,
            }
          }).then((res) => {
            if (res.data.msg === "user registered successfully") {
              let {email, dateJoined, firstName, lastName} = res.data.data
              console.log(res.data.data)
              this.$store.commit('login')
              this.$store.commit('initiateUser', {email, dateJoined, firstName, lastName})
              this.$router.push("/")
            } else {
              this.registerError = true;
              this.clearText()
            }


          })
        }
      }
    },
    data() {
      return {
        emailRequired: false,
        nameRequired: false,
        passwordRequired: false,
        registerError: false,
        loginError: false,
        firstName: "",
        lastName: "",
        email: "",
        password: "",
        tabs: [
          {name: 'Login'},
          {name: 'Register'}
        ],
        activeTab: 0
      }
    }
  }
</script>

<style lang="scss" scoped>


#companyName {
  position: absolute;
  top: 20px;
  font-style: italic;
  color: $primary-bg;
  left: 40px;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  border-radius: $primary-border-radius;
  border: $primary-border;
  background-color: white;
}

.login-selector-container{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: $primary-border;
}

.staticSelector {
  width: 100%;
  height: 100%;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    filter: grayscale(10%);
  }
}

.isActive {
  background-color: $primary-bg;
  color: white;
}

.from-div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

  & label {
    margin-top: 1rem;
  }

  & button {
    margin-top: 2rem;
  }

}

#loginErrorSpan {
  color: darkred;
}





</style>